<ion-view title="Cargar Pedido" id="page7">
  <ion-content padding="true" class="has-header">
  <div id="pedido-container1" style="height:500px;overflow:scroll;overflow-x: hidden">
    <ion-list id="cargarPedido-list4" class="manual-list-fullwidth">
      <ion-item id="cargarPedido-list-item14">Pedido Id: Cliente:</ion-item>
      <ion-item id="cargarPedido-list-item15">Item 2</ion-item>
      <ion-item id="cargarPedido-list-item16">Item 3</ion-item>
      <ion-item id="cargarPedido-list-item17">Item 3</ion-item>
      <ion-item id="cargarPedido-list-item18">Item 3</ion-item>
      <ion-item id="cargarPedido-list-item19">Item 3</ion-item>
      <ion-item id="cargarPedido-list-item20">Item 3</ion-item>
      <ion-item id="cargarPedido-list-item21">Item 3</ion-item>
      <ion-item id="cargarPedido-list-item22">Item 3</ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
