<ion-view title="Clientes" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="clientes-form9" class="list">
      <label class="item item-input" id="clientes-search7">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="finder">
      </label>
    </form>
    <div id="clientes-container1" style="height:500px;overflow:scroll;overflow-x: hidden">
    <ion-list id="clientes-list14" class="manual-list-fullwidth">
      <ion-item  id="clientes-list-item67" ng-repeat="item in clientes | filter : finder |limitTo:20 " ng-click="addClient(item)" >
        <p><strog>{{item.codigo}}</strong></p>
        <p>{{item.nombre}}</p>
        <p>{{item.direccion}}</p>
      </ion-item>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
