<ion-view title="Detalle del Producto" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="detalleDelProducto-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Producto codigo:
        <strong>{{producto.producto.codigo}}</strong>
      </p>
    </div>
    <div id="detalleDelProducto-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Descripción</p>
    </div>
    <form id="detalleDelProducto-form3" class="list">
      <label class="item item-input" id="detalleDelProducto-input4">
        <input ng-model="producto.producto.nombre" type="text" placeholder="">
      </label>
      <label class="item item-input" id="detalleDelProducto-input5">
        <span class="input-label">Cantidad:</span>
        <input ng-model="producto.cantidad" type="number" placeholder="">
      </label>
      <label class="item item-input" id="detalleDelProducto-input6">
        <span class="input-label">Precio:</span>
        <input ng-model="producto.producto.precio1" type="number" placeholder="">
      </label>
    </form>
    <button ng-click="addprice()" id="detalleDelProducto-button4" class="button button-positive  button-block">Agregar Precio</button>
    <button ng-click="addproducto()" id="detalleDelProducto-button5" class="button button-positive  button-block">Aplicar</button>
  </ion-content>
</ion-view>
