<ion-view title="Detalle del Producto" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="detalleDelProducto-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Descripción:
        <strong>Producto X</strong>
      </p>
    </div>
    <div id="detalleDelProducto-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Precio Final $:
        <strong>0.00</strong>
      </p>
    </div>
    <div id="detalleDelProducto-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Precio Sin Imp $:
        <strong>0.00</strong>
      </p>
    </div>
    <div id="detalleDelProducto-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Existencia:
        <strong>0.00</strong>
      </p>
    </div>
  </ion-content>
</ion-view>