<ion-view title="Ilogic Pedidos " id="page5" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <h1 id="ilogicPedidos-heading6" style="color:#000000;text-align:center;">Menu Principal</h1>
    <a ui-sref="sync" id="ilogicPedidos-button18" class="button button-positive  button-block button-outline">Sync</a>
    <a ui-sref="menuPedido" id="ilogicPedidos-button13" class="button button-positive  button-block button-outline">Pedidos</a>
    <a ui-sref="productos" id="ilogicPedidos-button14" class="button button-positive  button-block button-outline">Productos</a>
    <a ui-sref="clientes" id="ilogicPedidos-button15" class="button button-positive  button-block button-outline">Clientes</a>
    <a ui-sref="vendedores" id="ilogicPedidos-button16" class="button button-positive  button-block button-outline">Vendedores</a>
    <a ui-sref="configuraciN" id="ilogicPedidos-button17" class="button button-positive  button-block button-outline">Configuración</a>

    <button ng-click="closeapp()" id="ilogicPedidos-button19" class="button button-positive  button-block button-outline">Cerrar Sesión</button>
  </ion-content>
</ion-view>
