<ion-view title="Lista de Productos" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="listaDeProductos-form7" class="list">
      <label class="item item-input" id="listaDeProductos-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="listaDeProductos-list12" class="manual-list-fullwidth">
      <ion-item id="listaDeProductos-list-item54" ui-sref="pedido">Item 1</ion-item>
      <ion-item id="listaDeProductos-list-item55">Item 2</ion-item>
      <ion-item id="listaDeProductos-list-item56">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>