<ion-view title="Lista de Clientes" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="listaDeClientes-form6" class="list">
      <label class="item item-input" id="listaDeClientes-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="listaDeClientes-list11">
      <ion-item id="listaDeClientes-list-item48" ui-sref="nuevoPedido">Item 1</ion-item>
      <ion-item id="listaDeClientes-list-item49">Item 2</ion-item>
      <ion-item id="listaDeClientes-list-item50">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>